
<div class="container">
    <div class="row" [style.backgroundImage]="'url('+ movie?.backdropUrl +')'">
        <div class="col">
            <!-- @*1 of 3*@ -->
            <img src="{{ movie?.posterUrl }}" alt="{{ movie?.title }}" />
        </div>
        <div class="col-6">
            <!-- @*2 of 3*@ -->
            <h1 style="color:white">{{movie?.title}}</h1>
            <div style="font-size:smaller; color:lightgray">{{movie?.tagline}}</div>
            <br />
            <div style="font-size:medium; color:lightgray">
                {{movie?.runTime}} m | {{movie?.releaseDate}}
                <span class="badge badge-pill badge-dark" *ngFor="let genre of movie?.genres">{{genre.name}}</span>
            </div>
            <br />
            <div>
                <span class="badge badge-success" style="font-size:medium;">{{movie?.rating}}</span>
            </div>
            <br />
            <div style="font-size:medium; color:white">
                {{movie?.overview}}
            </div>
            <br />
        </div>
        <div class="col">
            <!-- @*3 of 3*@ -->
            <br />
            <br />
            <ul class="list-group-buttons">
                <li class="list-group-items">
                   
                    <form asp-controller="User" asp-action="Purchase" asp-route-movieId="Id" method="post">
                        <button type="submit" class="btn btn-outline-secondary">BUY ${{movie?.price}}</button><br />
                    </form>
                    <form asp-controller="User" asp-action="Review" asp-route-movieId="Id" method="post">
                        <button type="button" class="btn btn-outline-secondary">REVIEW</button><br />
                    </form>
                    <form asp-controller="User" asp-action="Favorite" asp-route-movieId="Id" method="post">
                        <button type="button" class="btn btn-outline-secondary">FAVORITE</button><br />
                    </form>
                </li>
            </ul>
        </div>
    </div>
    <br />
    <div class="row">
        <div class="col">
            <!-- @*1 of 2*@ -->
            <h3>MOVIE FACTS</h3>
            <ul class="list-group-trailers">
                <li>
                    <i>Release Date</i> <span class="badge badge-pill badge-dark">{{movie?.releaseDate}}</span>
                </li>
                <li>
                    Run Time <span class="badge badge-pill badge-dark">{{movie?.runTime}} m</span>
                </li>
                <li>
                    Box Office <span class="badge badge-pill badge-dark">${{movie?.revenue}}</span>
                </li>
                <li>
                    Budget <span class="badge badge-pill badge-dark">${{movie?.budget}}</span>
                </li>
            </ul>
            <h3>TRAILERS</h3>
            <ul class="list-group-trailers">
                    <li class="list-group-trailers-items" *ngFor="let trailer of movie?.trailers">
                        <a href="{{trailer.trailerUrl}}">{{trailer.name}}</a>
                    </li>
            </ul>
        </div>
        <div class="col-6">
            <!-- @*2 of 2*@ -->
            <h3>CAST</h3>
            <ul class="list-group-casts">
                <li class="list-group-item" *ngFor="let cast of movie.casts">
                    <img class="rounded-circle" src="{{cast.profilePath}}" width="50" />
                    &nbsp;&nbsp; {{cast.name}} &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; {{cast.character}}
                </li>
            </ul>
        </div>
    </div>
</div>